*{
    padding: 0px;
    margin: 0px;
}
#map {
    height: 600px;
    width: 100%;
    margin: auto;
}
nav {
    position: fixed;
    top: 0px;
    display: flex;
    gap: 32px;
    padding: 30px 40px;
    background-color: #77aecf;
    font-size: 28px;
    height: 40px;
    width: 100vw;
    z-index: 9999;
}

nav > a{
    color: #303030;
    text-decoration: underline;
    text-decoration-color: #3700ff;
    cursor: pointer;
}

body{
    background-color: #183f8c;
}

@media screen and (max-width: 768px) {
    nav {
        font-size: 20px;
        height: 28px;
        padding:30px;
    }
}

@media screen and (max-width: 500px) {
    nav {
        justify-content: center;
        padding: 30px 0px;
        font-size: 18px;
    }
}